@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

body{
	background-color:#fff;
	font-family: 'Lato', Arial, sans-serif;
	color: #62717A;
	font-size: 18px;
	width: 100%;
}

header, main, footer{
	width: 92%;
	margin: 0 auto;
}

header, nav, aside, footer {
	padding: 1.12em;

}

article{
	padding: 1.12em;
}

section{
	padding: 1.12em;
}

h1 {
    display: block;
    font-size: 2.5em;
    margin: .67em auto;
    font-weight: bold;
    text-transform: capitalize;
}

h2{
	display: block;
    font-size: 2em;
    margin: 0.83em auto;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: .08em;
}

h3 {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.25em;
    font-weight: normal;
    padding-bottom: .5em;
}

p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    letter-spacing: .02em;
    margin: .67em auto;
    text-align: center;
}

ul{
	display: block;
}

aside{
	
    padding: 1.12em;
}

section{
    padding: 0em;

}

article{
    padding: 1.12em;

}

footer{
    padding: 1.12em;

}

img {
	display: block;
    margin: auto;
    width: 100%;
}

strong{
	color: #50e3c2;
	text-decoration: none;
	/*border-bottom: 1px solid #50e3c2;*/
}

a{
	text-decoration: none;
	color: #62717A;
}

/* Logo */

	#logo {
	    font-family: Lato, lighter, Arial, sans-serif;
	    font-size: 4em;
	    text-align: center;
	    text-transform: uppercase;
	    margin-top: 0px;
	    margin-bottom: 0px;
	    font-weight: lighter;
	}

	#logo2 {
	    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	    font-weight: normal;
	    color: #50e3c2;
	    text-align: center;
	    text-transform: uppercase;
	}
	#logosubheading{
		font-family: Lato, lighter, Arial, sans-serif;
		font-size: 2.55em;
	    text-align: center;
	    padding: 0em;
	    text-transform: uppercase;
	    font-weight: lighter;
	}

	.link{
		color: #50e3c2;
		text-decoration: none;
		border-bottom: 1px solid #919191;
	    border-color: #50e3c2;
	}
	.link:hover{
		color: #62717A;
		text-decoration: none;
		border-bottom: 1px solid #62717A;
	    border-color: #62717A;
	}

/*Top Navigation */

#borderlinesNav {
	border-top: 4px solid #e3f8f3;
    border-bottom: 4px solid #e3f8f3;
    border-bottom-style: solid;
}

ul#topnav{
	list-style-type: none;
	overflow: hidden;
	color: #555;
	font-size: 1.16em;
	text-align: center;
}

	ul#topnav li {
		text-decoration: none;
		display: block;
		float:left;
		width: 25%;
	}

		ul#topnav li a{
		    text-decoration: none;
    		text-align: center;
    		font-weight: 400;
    		color: #555;
    		letter-spacing: .07em;
    		padding: .78em 2.78em;
		}

		ul#topnav li a:hover{
			text-decoration: none;
			color: #50e3c2;
		}

/* Circular Photo */

#circle {
	display: inline-block;
    margin: auto;
    width: 40%;
    float: left;
    padding: 1.2em;
    border-radius: 100%;
   /* border: 4px solid #e3f8f3;*/
   /* background-color: #E582A2;*/
}	

/*Skills*/	

.skillslayout{
	text-align: left;
	padding-top: 0.6em;
	margin: 0em;
}

/* About Me */

#about {
    border-bottom: 4px solid #e3f8f3;
    padding-bottom: 2em;
    padding: .56em;
}
.about{
	background: url("backgroundimages/pencil-education-pencil-sharpener-art-159731_white.jpeg"); 
	background-size: 90%;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.aboutme{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	display: inline-block;
	width:59%;
	float: right;
}

	h1.aboutme {
		 letter-spacing: .03em;
		 font-weight: 300; 
	}

span.name{
	font-weight: 300;
	color:#50e3c2;
	border-bottom: 1px solid #50e3c2;
}

#download {
	 padding: .67em 2.28em;
}

p#width{
	max-width: 64%;
	float: left;
    padding: 0em 1em;
}

/*Skills*/

#skills {
    position: relative;
    display: block;
    border-bottom: 4px solid #e3f8f3;
    padding: .56em;
}

#skillswrapper{
	margin: auto;
	padding: .5em;
}

.skillitems{
  	padding: .45em;
  	float: left;
  	font-weight: 300;
    letter-spacing: .03em;
    margin: .2em auto;
}
.skillitems h3{
  	padding: 0em;
}
.skillitems p{
  	padding: 0em;
}
	#skill1{
		width: 33%;
	}
	#skill2{
		width: 33%;
	}
	#skill3{
		width: 33%;
	}

.skilltext{
	text-align: center;
}

.iconFeatured {
    width: 7.5em;
    height: 7.5em;
    margin: .5em auto;
    background: #f3fffd;
    border-radius: 80%;
    padding: 0em;
}

.academy-badge{
	width: 33%;
	margin: auto;
}

#work-progress{
	text-align: left;
	padding-left: .6em;
	margin-bottom: .2em;
}
#work-progress1{
	text-align: left;
	padding: .45em 1.12em;
}

#work-progress2{
	margin: .5em 0 0 0;
	font-weight: 300;
	letter-spacing: .03em;
}

h3 #progressspacing{
	float: right;
	margin-right: 60px;
}

.skillrows{
	padding: 0em;
	margin: 0 0;
}

.skillListItems{
	/*float:left;*/
	width: 31%;
	font-weight: 300;
    letter-spacing: .03em;
    text-align: left;
    margin: .2em auto;
    display: inline-block;
    line-height: 2.2em;
    padding-bottom: .5em; 
    text-transform: uppercase;
}

#progressmeters{
	display: inline-block;
}

.meter {
	min-width: 60%;
    width: 68%;
	position: relative;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	padding: .06em;
    padding-left: .07em;
    border: 2.4px solid rgba(221, 221, 221, 0.55);
	display: inline-block;
}
	/* Teal Meter */
		span.ratingteal{
			width: 0;
		    display: block;
		    background: #50E3C2;
		    border-radius: 30px;
		    padding: .56em;
		    position: relative;
		    -webkit-transition: all 1.5s ease-in-out;
			-moz-transition: all 1.5s ease-in-out;
			-o-transition: all 1.5s ease-in-out;
			transition: all 1.5s ease-in-out;
		}
		span.ratingteal.active{
			width:96%;
		}
	/* Lime Meter */
		span.ratinglime{
			width: 0;
		    display: block;
		    background: #7ED321;
		    border-radius: 30px;
		    padding: .56em;
		    position: relative;
		    -webkit-transition: all 1.5s ease-in-out;
			-moz-transition: all 1.5s ease-in-out;
			-o-transition: all 1.5s ease-in-out;
			transition: all 1.5s ease-in-out;
		}
		span.ratinglime.active{
			width:83%;
		}
	/* Mint Meter */
		span.ratingmint{
			width: 0;
		    display: block;
		    background: #B8E986;
		    border-radius: 30px;
		    padding: .56em;
		    position: relative;
		    -webkit-transition: all 1.5s ease-in-out;
			-moz-transition: all 1.5s ease-in-out;
			-o-transition: all 1.5s ease-in-out;
			transition: all 1.5s ease-in-out;
		}
		span.ratingmint.active{
			width:54%;
		}
	/* Yellow Meter */
		span.ratingyellow{
			width: 0;
		    display: block;
		    background: #FFFBC2;
		    border-radius: 30px;
		    padding: .56em;
		    position: relative;
		    -webkit-transition: all 1.5s ease-in-out;
			-moz-transition: all 1.5s ease-in-out;
			-o-transition: all 1.5s ease-in-out;
			transition: all 1.5s ease-in-out;
		}
		span.ratingyellow.active{
			width:18%;
		}

/* Portfolio */

h3#portfoliodes{
	padding-bottom: 1em; 
}

#portfolio {
    border-bottom: 4px solid #e3f8f3;
    padding-bottom: 2em;
}

.portfoliopieces{
	width: 33.33333%;
    text-align: center;
  	padding: 0em 0.15em 0em .15em;
  	float: left;
  	position: relative;
}

.portfoliopieces h4{
    display: inline-block;
    text-align: left;
    font-weight: 400;
    letter-spacing: .07em;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    left: 25px;
    z-index: 99;
}
.portfoliopieces:hover h4{
    display: inline-block;
    text-align: left;
    font-weight: 400;
    letter-spacing: .07em;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    left: 25px;
    color: #50e3c2;
}

.portfoliopieces h3{
    display: inline-block;
    text-align: center;
    font-weight: 400;
    letter-spacing: .07em;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    top: 42%;
    left: 50%;
    -webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-o-transform:translateX(-50%);
    transform:translateX(-50%);
    opacity: 0;
    z-index: 99;
}

.portfoliopieces:hover h3{
	opacity: 1;
	-webkit-transition:opacity ease-in-out .5s;
	-moz-transition:opacity ease-in-out .5s;
	-o-transition:opacity ease-in-out .5s;
	transition:opacity ease-in-out .5s;
	color: #fff;
}

.portfoliopieces p{
	text-align: center;
	text-transform: none;
	position: absolute;
	text-decoration: none;
    display: inline-block;
    text-align: left;
    font-size: 14px;
    padding-bottom: .15em;
    padding-top: 1em;
    text-transform: capitalize;
	top: 20px;
    left: 25px;
    opacity: 0;
    z-index: 99;
}
.portfoliopieces:hover p{
    opacity: 1;
	-webkit-transition:opacity ease-in-out .8s;
	-moz-transition:opacity ease-in-out .8s;
	-o-transition:opacity ease-in-out .8s;
	transition:opacity ease-in-out .8s;
}

.portfoliopieces a{
    display: block;
    width:100%;
    margin-bottom: 1em;
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px 25px black;
}

.portfoliopieces a:hover{
	/*color: rgb(0, 159, 255);*/
    text-decoration: none;
   	background-color: rgb(0, 0, 0);
   	/*opacity: .5;*/
}

.portfoliopieces img:hover{
   	opacity: .5;
}

#mobilespacing{
	padding-top: 2.9em;
}

/*.portfoliopieces:nth-of-type(1){
}

.portfoliopieces:nth-of-type(2){
}

.portfoliopieces:nth-of-type(3){
	
}

.portfoliopieces:nth-of-type(4){

}

.portfoliopieces:nth-of-type(5){

}

.portfoliopieces:nth-of-type(6){

}
*/

/* Case Studies */

.casestudies{
	/*background: pink;*/
	border-bottom: 4px solid #e3f8f3;
    padding-bottom: 2em;
    padding-top: 0em;
}

#casestudybutton{
	float: left;
	margin-right: 2.4em;
}

div.carousel_images{
	padding: 0em;
}

.lightbox{
	/*background: orange;*/
/*	padding: 1em;
	margin: 1em;*/
	width: 50%;
	float: left;
}

.lightbox2{
	width: 50%;
	margin: auto;
}

.lightboxthumb{
	display: inline-block;
	width: 32.7%;
    margin-top: .3em;
}

.return{
	float: right;
}

.studycontent{
	width:50%;
	padding: 0em;
	padding-left: 2em;
	/*background: aliceblue;*/
	float: right;
}

.studycontent header{
	text-align: left;
    padding: 0;
   /* margin-top: 13.5%;*/
    margin-left: 0em;
}

.studycontent header h2 {
    font-weight: 400;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.studycontent header p{
	text-align: left;
	font-size: 0.9em;
    letter-spacing: 0.15em;
    margin-bottom: 0;
    text-transform: uppercase;
}

.studycontent header > :first-child:after {
    content: '';
    display: block;
    background-color: #50e3c2;
    height: 1px;
    margin: .6em 0 .75em 0;
    width: 4em;
}

.studycontent p{
	text-align: left;
}

.studycontent h2{
	text-align: left;
	padding: 0;
	margin: 0;
}

/* Portfolio Nav */

ul.portfolionav{
	list-style-type: none;
	margin: 10px;
	padding: 1.12em;
	overflow: hidden;
	color: #555;
	font-size: 1em;
	text-align: center;
	text-transform: uppercase;
	border-top: 4px solid #e3f8f3;
    border-bottom: 4px solid #e3f8f3;
    border-bottom-style: solid;
}

	ul.portfolionav li{
		text-decoration: none;
		display: inline-block;
	}

		ul.portfolionav li{
			text-decoration: none;
			text-align: center;
		    padding: .78em 2.78em;
			color: #555;
    		text-align: center;
    		text-transform: uppercase;
    		font-weight: 500;
    		letter-spacing: .07em;
		}
		ul.portfolionav li:active{
				color: #009FFF;
				background-color: rgba(221, 221, 221, 0.28);
			}			
		ul.portfolionav li:hover{
			color: #50e3c2;
		}

	#alldesign{

	}
	.all{

	}

	#graphicdesign{

	}
	.graphicdesign{

	}
	#uidesign{
		
	}
	.ui{

	}
	#development{

	}
	.development{

	}

	#misc{

	}
	.misc{

	}


/* Contact */

#contact {
	text-align: center;
    border-bottom: 4px solid #e3f8f3;
    padding-bottom: 2em;
}

form {
    display: block;
    margin-top: 0em;
}
	form input, form select, form textarea {
	    font-size: 1em;
	    color: rgb(187, 187, 187);
	    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 2px 3px 1px inset, rgba(255, 255, 255, 0.0235294) 0px 1px 0px 0px;
	    padding: 0.75em;
	    margin: 1em;
	    border-radius: 8px;
	    border-width: 1px;
	    border-style: solid;
	    border-color: rgb(221, 221, 221);
	    border-image: initial;
	    background: rgb(255, 255, 255);
	}

		input {
	    user-select: text;
	    cursor: auto;
	    padding: .06em;
	    border-width: 2px;
	    border-style: inset;
	    border-color: initial;
	    border-image: initial;
		}

#name {
    display: inline-block;
    width: 50%;
}
#email {
    display: inline-block;
    width: 50%;
}
#subject {
    display: inline-block;
    width: 50%;
}
#message {
    display: inline-block;
    width: 50%;
  /*  height: 50%;*/
}

.success {
	  padding: 1em;
	  margin-bottom: 0.75rem;
	  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	  color: #468847;
	  background-color: #dff0d8;
	  border: 2px solid #d6e9c6;
	  -webkit-border-radius: 4px;
	     -moz-border-radius: 4px;
	          border-radius: 4px;
	  display:none;
	}

	.successhidden{
		display:none;
		/* opacity: 0; */
	} 

	.error {
	  padding: 1em;
	  margin-bottom: 0.75rem;
	  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	  color: #b94a48;
	  background-color: #f2dede;
	  border: 1px solid rgba(185, 74, 72, 0.3);
	  -webkit-border-radius: 4px;
	     -moz-border-radius: 4px;
	          border-radius: 4px;
	   display:none;
	} 

	.info{
		font-size: 1em;
		color: #b94a48;
		/* letter-spacing:2px;
		padding-left:5px; */
	}

	#contactMessage{
		text-transform: none;
	}

/* Connect */
#connect {
	text-align: center;
    border-bottom: 4px solid #e3f8f3;
    padding-bottom: 2em;
}

#socialicon{
	width: 5em;
}

#socialicon:hover{
    background: #dff0d8;
    border-radius: 80%;
}

/* Copyright */
#copyright {
		list-style-type: none;
		text-align: center;
		color: #62717A;
	}

/* Button */

.button {
    -moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 0px 1px inset, rgba(255, 255, 255, 0.74902) 0px 2px 1px 0px inset;
    background-color: rgb(248, 248, 248);
    margin-top: 12px;
    transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition:background-color 0.2s ease-in-out;
    outline: 0px;
    border-radius: 8px;
    overflow: hidden;
    padding: .67em 1.33em;
    letter-spacing: .08em;
    color: #555;
}
	.button.small {
		font-size: 0.8em;
	}
		.button:hover{
			background-color: #50e3c2;
			color: #fff !important;
		}

/* Clear Fix */		

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* Media Queries */

@media only screen and (max-width: 600px) {

	header, article{
		padding: 0em;
	}

	header, main, footer{
		width:100%;
	}

	div{
		padding: 1em;
	}

	/* Top Nav */
	ul#topnav{
		overflow: visible;
	}
	ul#topnav li a{
		font-size: 14px;
		padding: 0em 0em; 
	}
	#borderlinesNav{
		/* Sticky Nav */
		position: fixed;
		top:0;
		left:0;
		width:100%;
		background-color: #fff;
		z-index: 99999;
	}

	#logo{
		font-size: 2em;
		padding-top: 2.2em;
		padding-bottom: 0em;
		margin-bottom: 0em;
	}
	#logosubheading{
		font-size: 1.26em;
	    text-align: center;
	    padding: 0em;
	    text-transform: uppercase;
	}
	/* Circular Photo */

	#circle {
		display: block;
	    width: 100%;
	    padding: 0em;
	}		

	/* About Me */

	#about {
	    border-bottom: 4px solid #e3f8f3;
	    padding-bottom: 2em;
	    padding: .56em;
	}

	.aboutme{
		width:100%;
		text-align: center;
	}

		h1.aboutme {
			 letter-spacing: .03em;
			 font-weight: 300; 
		}

	.name{
	    width:100%;
	}

	p#width{
		max-width: 100%;
		text-align: center;
	    padding: 0em 0em;
	    font-size: 16px;
	}

	/* Skills */

	#skill1, #skill2, #skill3{
		width: 100%;
	}

	#work-progress{
	text-align: center;
	padding-left: 0em;
	margin-bottom: .2em;
	}

	#work-progress1{
		text-align: center;
		padding: .45em .12em;
	}

	.meter{
		width:100%;
	}
	.skillListItems{
		width:100%;
	}
	.academy-badge{
		width:90%;
	}
	/* Portfolio Nav */

	ul.portfolionav{
		margin: 0em;
		padding: .9em;
		width: 100%;
		display: block;
	}

		#portfolioNav{
		padding-top: 1.12em;
		padding-left: 0em;
		padding-right: 0em;
		}
		#portfolio{
			padding-bottom: 3em; 
		}
		ul.portfolionav li {
			padding: .3em;
			display: block;
    		font-size: 16px;
    		padding: 5px 15px;
		}
			ul.portfolionav li:active{
				color: #009FFF;
				background-color: #f4f4f4;
			}
			ul.portfolionav li:hover{
				color: #50e3c2;
			}

	.portfoliopieces {
    	width:100%;
    	padding-bottom: .3em;
    	margin: auto -6%;
	}

	.portfoliopieces h4 {
    	left: 16px;
	}
	
	#mobilespacing{
		padding-top: 2.5em;
	}
	#mobilespacing2{
		padding-top: 2.5em;
	}

	.portfoliopieces p{
		opacity: 1;
		left: 16px;
	}

	.portfoliopieces:hover h3{
		opacity: 0;
	}

	/* Contact */
	#name, #email, #subject, #message {
    	display: block;
    	width: 100%;
    	margin: 1em 0em;
	}

	/* Connect Footer */
	#emailFooter{
		text-align: center;
    	word-wrap: break-word;
	}

	/*Case Studies*/	

	.lightbox{
	/*	padding: 1em;
		margin: 1em;*/
		width: 100%;
		float: none;
	}

	.lightbox2{
	width: 90%;
	margin: auto;
	}

	.lightboxthumb{
		width: 32%;
	}

	.return{
		float: right;
	}

	.studycontent{
		width:100%;
		margin: 0em;
		padding: 0em;
		float: none;
	}
	.studycontent header{
		text-align: left;
		margin-top: .2em;
	}
	.studycontent h2{
		text-align: left;
	    padding: 0;
	    margin: 0;
	    display: inline-block;
	    font-size: 1.5em;
	    margin-top: 1em;
	}
	#casestudybutton{
		float: left;
		margin-right: 1em;
	}
	#casestudybutton2{
		float: right;
		margin-right: 1em;
	}

}

@media only screen and (min-width: 600px) and (max-width: 900px) {

	header, article{
		padding: 0em;
	}

	header, main, footer{
		width:100%;
	}

	div{
		padding: 1em;
	}

	/* Top Nav */
	ul#topnav{
		overflow: visible;
	}
	ul#topnav li a{
		font-size: 21px;
		padding: 0em 0em; 
	}
	#borderlinesNav{
		/* Sticky Nav */
		position: fixed;
		top:0;
		left:0;
		width:100%;
		background-color: #fff;
		z-index: 99999;
	}
	#logo{
		font-size: 3em;
		padding-top: 1.5em;
		padding-bottom: 0em;
		margin-bottom: 0em;
	}
	#logosubheading {
    	font-size: 1.9em;
	}

/* Circular Photo */

	#circle {
		display: block;
	    width: 50%;
	    margin: 0 auto;
	    padding: 0em;
	    float: none;
	}	

/* About Me */

	#about {
	    border-bottom: 4px solid #e3f8f3;
	    padding-bottom: 2em;
	    padding: .56em;
	}

	.aboutme{
		width:100%;
		text-align: center;
	}

		h1.aboutme {
			letter-spacing: .03em;
			font-weight: 300;
			margin: .2em auto;
		}

	.name{
	    width:100%;
	}

	p#width{
		max-width: 100%;
		text-align: center;
	    padding: 0em 1em;
	    font-size: 18px;
	}	

/* Skills */

	#work-progress{
	text-align: center;
	padding-left: 0em;
	margin-bottom: .2em;
	}

	#work-progress1{
		text-align: center;
		padding: .45em .12em;
	}

	.meter{
		width:100%;
	}
	.skillListItems{
		width:100%;
	}
	.academy-badge{
		width:50%;
	}

/* Portfolio Nav */

	ul.portfolionav{
		width: 100%;
		display: block;
		margin: 0em;
	}

		#portfolioNav{
		padding-top: 1.12em;
		padding-left: 0em;
		padding-right: 0em;
		}

		ul.portfolionav li {
    		font-size: 16px;
    		padding: 5px 15px;

		}
			ul.portfolionav li:active{
				color: #009FFF;
				background-color: #f4f4f4;
			}
			ul.portfolionav li:hover{
				color: #50e3c2;
			}
	.portfoliopieces {
    	width:50%;
    	margin: auto 20%;
	}
	.portfoliopieces:hover p{
		padding-top: 2.5em;
	}

	#mobilespacing2{
		padding-top: 2.5em;
	}

	/*Case Studies*/	

	.lightbox{
	/*	padding: 1em;
		margin: 1em;*/
		width: 100%;
		float: none;
	}

	.lightboxthumb{
		width: 32%;
	}

	.return{
		float: right;
	}

	.studycontent{
		width:100%;
		margin: 0em;
		padding: 0em;
		float: none;
	}
	.studycontent header{
		text-align: left;
		margin-top: .2em;
	}
	.studycontent h2{
		text-align: left;
	    padding: 0;
	    margin: 0;
	    display: inline-block;
	    font-size: 1.5em;
	    margin-top: 2em;
	}

	#casestudybutton{
		float: left;
		margin-right: 1em;
	}
	#casestudybutton2{
		float: right;
		margin-right: 1em;
	}

}


@media only screen and (min-width: 900px) and (max-width: 1200px){
/* Portfolio Nav */

	ul.portfolionav{
		width: 100%;
		display: block;
		margin: 0em;
	}

		#portfolioNav{
		padding-top: 1.12em;
		padding-left: 0em;
		padding-right: 0em;
		}

		ul.portfolionav li {
    		font-size: 16px;
    		padding: 5px 15px;

		}
			ul.portfolionav li:active{
				color: #009FFF;
				background-color: #f4f4f4;
			}
			ul.portfolionav li:hover{
				color: #50e3c2;
			}
	.portfoliopieces {
    	width:50%;
    	margin: auto;
	}

	/*Case Studies*/	

	.lightbox{
		width: 50%;
		float: left;
	}
	.lightbox2{
		width: 50%;
		margin: auto;
	}

	.lightboxthumb{
		width: 32%;
	}

	.return{
		float: right;
	}

	.studycontent{
		padding-left: 1.5em;
	}
	.studycontent h2{
	    margin-top: 0em;
	}
		#casestudybutton2{
		float: left;
		margin-right: 1em;
	}
} 

@media only screen and (min-width: 700px) and (max-width: 960px){
	.portfoliopieces:hover p{
		padding-top: 1.5em;
	}
}




